/*

HEADER

*/

// main-navigation

.main-nav {
      a {
        display: block;
        color: $white;
        font-family: Cuprum;
        font-size: 17px;
        font-weight: 400;
        line-height: 17px;
      }

}